.container {
    background-image: url(./media/pexels-burst-374754.jpg);
    min-height: 700px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    padding: 0;
    background:rgb(255, 255, 255);
}
* {
    font-family: 'Poppins', sans-serif;
}

ul{
    width: 80%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

ul li:hover
{
    background: rgb(242, 242, 245);
}

ul li a{
    color:black;
    text-decoration: none;
}
.toggle
{
    width: 100%;
    padding: 10px 20px;
    background: rgb(20, 173, 161);
    text-align: right;
    box-sizing: border-box;
    color: black;
    font-size: 30px;
    display: none;
    
}
.etusivu h1 {
    color:black;
    font-family: 'Poppins', sans-serif;
    display:block;
    margin: 2% 10%;
    text-align: center;
}
.etusivu h2 {
    color:black;
    font-family: 'Poppins', sans-serif;
    display:block;
    margin: 2% 10%;
    text-align: center;
}

.container h1 {
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 350px;
    padding: 0;
    color: white;
    margin-left: 105px;
    text-shadow: 5px 5px 0px #eb452b, 
                  10px 10px 0px #efa032, 
                  15px 15px 0px #46b59b, 
                  20px 20px 0px #017e7f, 
                  25px 25px 0px #052939, 
                  30px 30px 0px #c11a2b, 
                  35px 35px 0px #c11a2b;

}
img {
    filter: brightness(80%);
    float: right;
    width: 20%;
    margin-right: 15%;
    }

p {
    font-family: 'Poppins', sans-serif;
    display:block;
    margin: 2% 10%;
    text-align: center;
    font-weight: 200;
    margin-right: 40%;
    margin-left: 20%;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 75px;
    background-color: transparent;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1em;
    margin-left: 5%;
    flex-grow: 3;
  }
  
  .navig {
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style-type: none;
  }
  
  .navig a {
    color: black;
    text-align: center;
    padding: 5px;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7em;
    text-decoration: none;
  }
  
  .onsite {
    font-weight: bolder;
  }
  
  .navig a:hover {
    color: gray;
  }
  
  .navig a:active {
    color: rgb(90, 90, 90);
  }
  .burger {
    display: none;
    cursor: pointer;
  }
  .burger div {
    width: 25px;
    height: 3px;
    background: black;
    margin: 5px;
    border-radius: 5px;
  }
  .test {
    background-color: rgba(0, 0, 0, 0.562);
    transition: 5s ease;
    
  }
  .test h3 {
      color: white;
  }
  .test .burger div {
      background-color: white;
  }
  .test a{
      color: white;
  }

  .slideUp {
    transition: 3s ease;
  }
  

@media only screen and (max-width: 830px) {
    .nav {
      display: none;
    }
    .navig {
      position: absolute;
      right: 0px;
      height: 300px;
      top: -300px;
      background-color: #ffffff;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateY(0%);
      transition: transform 0.3s ease-in-out;
    }
    .navig li {
      opacity: 100%;
    }
    .burger {
      display: block;
    }
    .nav-active {
        transform: translateY(100%);
        margin-top: 75px;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
      }
    
    .etusivu img {
        display: none;
    }
    p {
        font-family: 'Poppins', sans-serif;
        display:block;
        margin: 2%;
        text-align: center;
        font-weight: 200;
    }

    .container h1 {
        font-size: 60px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        margin-top: 350px;
        padding: 0;
        color: white;
        margin-left: 105px;
        text-shadow: 1px 1px 0px #eb452b, 
                      2px 2px 0px #efa032, 
                      3px 3px 0px #46b59b, 
                      4px 4px 0px #017e7f, 
                      5px 5px 0px #052939, 
                      6px 6px 0px #c11a2b, 
                      7px 7px 0px #c11a2b;
    
    }
    

}

@media screen and (max-width: 600px) {
    .logo {
      font-size: 13px;
    }
    .burger div {
      width: 20px;
      height: 2px;
      background: black;
      margin: 5px;
      border-radius: 5px;
    }
    .container h1 {
        font-size: 60px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        margin-top: 350px;
        padding: 0;
        color: white;
        margin-left: 105px;
        text-shadow: 1px 1px 0px #eb452b, 
                      2px 2px 0px #efa032, 
                      3px 3px 0px #46b59b, 
                      4px 4px 0px #017e7f, 
                      5px 5px 0px #052939, 
                      6px 6px 0px #c11a2b, 
                      7px 7px 0px #c11a2b;
    
    }
    .etusivu img {
        display: none;
    }
    p {
        font-family: 'Poppins', sans-serif;
        display:block;
        margin: 2%;
        text-align: center;
        font-weight: 200;
    }
  }
