.container {
    background-image: url(./media/pexels-burst-374754.jpg);
    min-height: 700px;
    background-size: cover;
    background-position: center;
}

body {
    margin: 0;
    padding: 0;
    background:rgb(20, 173, 161);
}

nav {
    width: 100%;
    background:rgb(20, 173, 161);
}
ul{
    width: 80%;
    margin: 0;
    padding: 0;

}
ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li:hover
{
    background: rgb(242, 242, 245);
}

ul li a{
    color:black;
    text-decoration: none;
}
.toggle
{
    width: 100%;
    padding: 10px 20px;
    background: rgb(20, 173, 161);
    text-align: right;
    box-sizing: border-box;
    color: black;
    font-size: 30px;
    display: none;
    
}

h1 {
    font-size: 100px;
    margin: 0;
    padding: 0;
}















@media(max-width:900px)
{
    .toggle{
        display:block;
    }

ul{
    display: none;
}
ul li {
    display: block;
    text-align: center;
}
.active
{
    display: block;
}
}
p{
    color: black;
}

h2{
    color: rgb(0, 0, 0);
}

