.container {
    background-image: url(./media/pexels-burst-374754.jpg);
    min-height: 700px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    
}
.container2 {
    background-image: url(./media/spanish-tapas-party-773719.jpg);
    min-height: 700px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    
}

#asdtesti {
    width: 250px;
    height: 250px;
    margin-left: 15%;
    
    
}

body {
    margin: 0;
    padding: 0;
    background:rgb(255, 255, 255);
    width: 100%;
}
* {
    font-family: 'Poppins', sans-serif;
}

.navig ul{
    width: 80%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.navig ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.navig ul li:hover
{
    background: rgb(242, 242, 245);
}

.navig ul li a{
    color:black;
    text-decoration: none;
}
.toggle
{
    width: 100%;
    padding: 10px 20px;
    background: rgb(20, 173, 161);
    text-align: right;
    box-sizing: border-box;
    color: black;
    font-size: 30px;
    display: none;
    
}
.etusivu h1 {
    color:black;
    font-family: 'Poppins', sans-serif;
    display:block;
    margin-left: 0%;
    text-align: left;
}
.etusivu h2 {
    color:black;
    font-family: 'Poppins', sans-serif;
    display:block;
    margin: 2% 10%;
    text-align: left;
}
.etusivu {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
}
.etusivu p {
    text-align: left;
    margin-left: 0%;
    margin-right: 32%;
}
.mie {
    margin-bottom: -30%;
    margin-left: 0px
}

.container h1 {
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 350px;
    padding: 0;
    color: white;
    margin-left: 105px;
    text-shadow: 5px 5px 0px #eb452b, 
                  10px 10px 0px #efa032, 
                  15px 15px 0px #46b59b, 
                  20px 20px 0px #017e7f, 
                  25px 25px 0px #052939, 
                  30px 30px 0px #c11a2b, 
                  35px 35px 0px #c11a2b;

}

.container2 h1 {
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 200px;
    text-align: center !important;
    padding: 0;
    color: red;
    margin-left: 105px;
    text-shadow: 5px 5px 0px white, 
                  10px 10px 0px #efa032, 
                  15px 15px 0px #46b59b, 
                  20px 20px 0px #017e7f, 
                  25px 25px 0px #052939, 
                  30px 30px 0px #c11a2b, 
                  35px 35px 0px #c11a2b;

}
img {
    filter: brightness(80%);
    float: right;
    width: 20%;
    margin-right: 15%;
    }

.container p {
    font-family: 'Poppins', sans-serif;
    display:block;
    margin: 2% 10%;
    text-align: center;
    font-weight: 200;
    margin-right: 40%;
    margin-left: 20%;
}

.container2 p {
    font-family: 'Poppins', sans-serif;
    display:block;
    margin: 2% 10%;
    text-align: center;
    font-weight: 200;
    margin-right: 40%;
    margin-left: 20%;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 75px;
    background-color: transparent;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1em;
    margin-left: 5%;
    flex-grow: 3;
  }
  .esi p{
      margin-top: 50px;
      margin-bottom: 50px;
  }
  
  .navig {
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style-type: none;
  }
  
  .navig a {
    color: black;
    text-align: center;
    padding: 5px;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7em;
    text-decoration: none;
  }
  
  .onsite {
    font-weight: bolder;
  }
  
  .navig a:hover {
    color: gray;
  }
  
  .navig a:active {
    color: rgb(90, 90, 90);
  }
  .burger {
    display: none;
    cursor: pointer;
  }
  .burger div {
    width: 25px;
    height: 3px;
    background: black;
    margin: 5px;
    border-radius: 5px;
  }
  .test {
    background-color: rgba(0, 0, 0, 0.788);
    transition: 5s ease;
    
  }
  
  .test h3 {
      color: white;
  }
  .test .burger div {
      background-color: white;
  }
  .test a{
      color: white;
  }

  .slideUp {
    transition: 3s ease;
  }
  


    .container-1{
    display: flex;
    background-color: antiquewhite;
    margin-top: 25px;
    }

    
    .container-1 h2,p,img .container-2 h2,p,img{
        margin-left: 30%;
        margin-top: 20px;
        
    }
    
    .box-1{
    flex: 1;
    order: 1;
    }
    .box-1 img {
        margin-bottom: 30px;
    }
    .box-1 h2 {
        margin-left: 41%;
    }
    .box-2{
    flex: 1;
    order: 2;
    }
    .box-2 h2 {
        margin-left: 41%;
    }
    .box-2 img {
        margin-bottom: 30px;
    }
    .box-3{
    flex: 1;
    order: 3;
    }
    .box-3 img {
        margin-bottom: 30px;
    }
    .box-3 h2 {
        margin-left: 41%;
    }
    .box-4 img {
        margin-bottom: 25px;
    }
    .box-4 h2 {
        margin-left: 37%;
    }
    .box-5 img {
        margin-bottom: 25px;
    }
    .box-5 h2 {
        margin-left: 37%;
    }
    .box-6 img {
        margin-bottom: 25px;
    }
    .box-6 h2 {
        margin-left: 37%;
    }
    .container-2{
    display: flex; 
    background-color: antiquewhite;
    
       
    }
    .box-4{
        flex: 1;
        order: 1;
    }
    .box-5 {
        flex: 1;
        order: 2;
        }
    .box-6 {
        flex: 1;
        order: 3;
    }
    
.data{ 
    margin-left: 20%;
    margin-right: 20%;
}


.scrum h1 {
    text-align: center;
}

#git {
    margin-top: -2px;
    height: 180px;
    width: auto;
    position: center;
}



.teksis {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
}

.teksis p {
    margin-left: 0%;
}

#createdb {
    height: 400px;
    width: auto;
    margin-left: 0px;
    position: absolute;
}

#quizb {
    height: 400px;
    width: auto;
    position:absolute;
    margin-right: 0px;
    
}

#qbend {
    margin-top: 530px;
}

#seqy {
    height: auto;
    width: 500px;
    margin-left: 0px;
    position: absolute;
}

.box {
    height: 450px;
    width: 45%;
    float: left;
}
.box1 {
    height: 450px;
   float:right ;
   width: 45%;
}

.box9 {
    float: right;
    width: 510px;
    height: 450px;
}
.fend {
    margin-top: 530px;
}

.gridContainer h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 5% auto;
    font-size: 1.6em;
    line-height: 0.9em;
}
.scrumContainer h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 5% auto;
    font-size: 1.6em;
    line-height: 0.9em;
}

.gridContainer {
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    margin-bottom: 30px;
    justify-content: space-around;
    background-color: antiquewhite;
    
}

.scrumContainer {
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    margin-left: 20%;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -60px;
}
.gridItem {
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.scrumItem {
    display: flex;
    flex-direction: column;
    align-content: center;
    
    margin-bottom: 30px;
    margin-top: 30px;
}
.scrumItem1 {
    
    display: flex;
    flex-direction: column;
    align-content: center;
   
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}
.scrumItem1 h1 {
    text-align: center;
}
.scrumItem h1 {
    text-align: center;
}
.scrumItem p {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    margin-top: 20px;
}
.scrumItem1 p {
    margin-left: 0px;
    margin-top: 20px;
    text-align: center;
}
.scrumItem2 {
    
    display: flex;
    flex-direction: column;
    align-content: center;
   
    margin-bottom: 30px;
    margin-top: -250px;
    margin-left: 20%;
    margin-right: 20%;
}
.scrumItem2 h1 {
    text-align: center;
}

.scrumItem2 p {
    margin-left: -25px;
    margin-right: -25px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .gridContainer {
        grid-template-columns: repeat(auto-fill, minmax(211px, 1fr));
    }    
    .scrumContainer {
        grid-template-columns: repeat(auto-fill, minmax(211px, 1fr));
    }
    .data{ 
        margin-left: 2%;
        margin-right: 2%;
    }
    .gridContainer, .gridItem {
        
        background-color: white;
    }
   
}

.gridContainer img {
    width: 60%;
    margin-left: 20%;
}


.gridContainer ul {
    margin:auto;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    bottom: 0;
    font-size: 12px;
    box-shadow: 0px -4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 100;
    height: 50px;
    margin-top: 100px;
    background-color: black;
}

.reg {
    margin-top: 550px;
}

.nodemailer {
    margin-top: 550px;
}

.nimi {
    color: antiquewhite;
    text-shadow: 1px 1px 0px #eb452b;
}

.esipuhe {
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
   
   
}
.esipuhe1 {
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    margin-bottom: 400px;
   
}
.esipuhe1 p {
    margin-left: 0px;
}

.esipuhe p {
    margin-left: 0px;
    
}

#vp {
   height: 250px;
   width: auto;
   margin-left: 30px;
    
}

.scam {
    margin-top: 50px;
}

.esipuhe1 img {
    float: none;
    height: 350px;
    width:auto;
    margin-left: 20%;
    filter: brightness(100%);
  
}

#getBig:hover {
    transform: scale(2.5, 2.5);
    transition: 0.9s;
    transition-timing-function: ease-in-out;
    z-index: 1;
    
  }
  
  #getBig:not(:hover) {
    transform: scale(1, 1);
    transition: 0.9s ease-in-out;
  }

  @media screen and (max-width: 1900px) {
    .box {
        height: 350px;
        width: 100%;
        margin-left: 0px;
    }
    .box1 {
        height: 350px;
        margin-left: 0px;
       width: 100%;
    }
    .box9 {
        margin-left: 0px;
        width: 100%;
        height: 350px;
    }
    .esipuhe1 img {
        float: none;
        height: 150px;
        width:auto;
        margin-left: 0%;
        filter: brightness(100%);
      
    }
    

    #qbend, .fend, .reg, .nodemailer {
        margin-top: 2%;
    }

    .box, .box1, .box9 {
    float: none;
    
    }
  }

  
@media only screen and (max-width: 830px) {
   
    .esipuhe1 img {
        float: none;
        height: 150px;
        width:auto;
        margin-left: -5%;
        filter: brightness(100%);
      
    }
    .scrumItem1, .scrumItem p, .scrumItem1 p, .scrumItem2, .scrumItem2 p {       
        margin: 2% 5%;
    }
    
   
    p {
        margin-left: 5%;
    }
    .nav {
      display: none;
    }
    .navig {
      position: absolute;
      right: 0px;
      height: 300px;
      top: -350px;
      background-color: #ffffff;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateY(0%);
      transition: transform 0.3s ease-in-out;
    }
    .navig li {
      opacity: 100%;
    }
    .burger {
      display: block;
    }
    .test .nav-active a {
        font-weight: 500;
        }
      .test .nav-active {
        background-color: rgba(0, 0, 0, 0.74);
        transition: 1s ease;
        font-size: 17px;
       
      }
    .nav-active {
        transform: translateY(115%);
        margin-top: 75px;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
      }
    
    .etusivu img {
        display: none;
    }
    

    .container h1 {
        font-size: 60px;
        font-family: 'Poppins', sans-serif;
        margin-top: 350px;
        padding: 0;
        color: white;
        margin-left: 105px;
        text-shadow: 1px 1px 0px #eb452b, 
                      2px 2px 0px #efa032, 
                      3px 3px 0px #46b59b, 
                      4px 4px 0px #017e7f, 
                      5px 5px 0px #052939, 
                      6px 6px 0px #c11a2b, 
                      7px 7px 0px #c11a2b;
    
    }
    .container2 h1 {
        font-size: 60px;
        font-family: 'Poppins', sans-serif;
        margin-top: 195px;
        padding: 0;
        color: red;
        margin-left: 95px;
        text-shadow: 1px 1px 0px white, 
                      2px 2px 0px #efa032, 
                      3px 3px 0px #46b59b, 
                      4px 4px 0px #017e7f, 
                      5px 5px 0px #052939, 
                      6px 6px 0px #c11a2b, 
                      7px 7px 0px #c11a2b;
    
    }
    

}

@media screen and (max-width: 600px) {
    .logo {
      font-size: 13px;
    }
    .burger div {
      width: 20px;
      height: 2px;
      background: black;
      margin: 5px;
      border-radius: 5px;
    }
    .container h1 {
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
        margin-top: 350px;
        padding: 0;
        color: white;
        margin-left: 105px;
        text-shadow: 1px 1px 0px #eb452b, 
                      2px 2px 0px #efa032, 
                      3px 3px 0px #46b59b, 
                      4px 4px 0px #017e7f, 
                      5px 5px 0px #052939, 
                      6px 6px 0px #c11a2b, 
                      7px 7px 0px #c11a2b;
    
    }
    .container2 h1 {
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
        margin-top: 240px;
        padding: 0;
        color: red;
        margin-left: 40px;
        text-shadow: 1px 1px 0px white, 
                      2px 2px 0px #efa032, 
                      3px 3px 0px #46b59b, 
                      4px 4px 0px #017e7f, 
                      5px 5px 0px #052939, 
                      6px 6px 0px #c11a2b, 
                      7px 7px 0px #c11a2b;
    
    }
    .mie {
        display: none;
    }
   .etusivu p, a {
        font-family: 'Poppins', sans-serif;
        display:block;
        margin: 2%;
        text-align: center;
        font-weight: 200;
    }
  }
  .testti {
      float: left;
      filter: none;
      width: 25%;
  }
  .mie4 {
      position: relative;
      filter: none;
      float: left;
      width: 500px;
      height: 450px;


  }
  .mie5 {
   float: left;
   width: 600px;
   height: auto;
   
}

.mie4, .mie5 {
    margin-left: 10px;
}

.language-python {
    margin-left: 10px;
}