<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta charset="utf-8">
  <meta name="author" content="Johannes Jokinen">
  <meta name="description" content="Portfolio">
  <meta name="keywords" content="Portfolio, Ticorporate, Tiko, Johannes">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="prism.css">
  <link rel="shortcut icon" href="media/butters_squirrel_icon.ico" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>Johannes Jokinen</title>
  <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap" rel="stylesheet">
</head>

<body>

  <nav id="navi">
    <div>
    </div>
    <div class="logo"><a href="index.html">
      <h3>Johannes Jokinen</h3>
  </a>
</div>
    <ul class="navig">
      <li> <a href="index.html">Etusivu</a></li>
      <li class="onsite"> <a href="tekniikka.html">Tekniikka</a></li>
      <li> <a href="scrum.html">Scrum</a></li>
      <li> <a href="reflektio.html">Reflektio</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
  </div>
  
  </nav>

  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <h1>Tekniikka</h1>
  </div>

  <div class="esi">
    <p>Tällä sivulla kerron teknologiasta ja työkaluista, jota on tullut käytettyä projektin aikana.
    <br> Alle on listattu asiat joiden parissa tuli työskenneltyä, ja muutama pointti jokaisesta</p>
    
  </div>
  <div class="data">
    <div class="gridContainer">
      <div class="gridItem">
        <h2>Angular</h2>
        <img  src="media/hjhj.png" alt="jypi">
        <ul>
          <li>Typescript</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
      </div>
      <div class="gridItem">
        <h2>MySQL</h2>
        <img src="media/mysli2.png" alt="jypi">
      <ul>
        <li>Tietokantojen rakennus</li>
        <li>Tietokantojen muokkaus ja ylläpito</li>
        <li>PHPMyadmin</li>
      </ul>
      </div>
      <div class="gridItem">
        <h2>Node.js</h2>
        <img src="media/node.png" alt="jypi">
        <ul>
          <li>Javascript</li>
          <li>Tietokannat</li>
          <li>Nodemailer</li>
        </ul>
      </div>
      <div class="gridItem">
        <h2>Git</h2>
        <img src="media/git.png" alt="jypi">
        <ul>
          <li>Github desktop</li>
          <li>Zenhub</li>
          <li>Gitin käyttö versionhallinnassa</li>
        </ul>
      </div>
      <div class="gridItem">
        <h2>Sequelize</h2>
      <img src="media/seq.png" alt="jypi">
      <ul>
        <li>Tietokantojen mallinnus backendiin</li>
        <li>Tietokantojen muokkaaminen frontendista</li>
      </ul>
      </div>
      <div class="gridItem">
        <h2>Muut sovellukset</h2>
      <img src="media/disc.png" alt="jypi">
      <ul>
        <li>Discord</li>
        <li>Teams</li>
        <li>Zoom</li>
        <li>Visual studio code</li>
        <li>MAMP</li>
        <li>Postman</li>
      </ul>
      </div>
    </div>

  </div>
  <div class="teksis">
    <h1>Quizit</h1>
    <p>Minun vastuualueeseen kuului quizien toimintalogiikka. Tein töitä pääosin toisen koodarin kanssa yhdessä. Quizeja tehdessä pääsi tutustumaan
      tietokantoihin, backendiin ja frontendiin kunnolla. Projektin alussa, minulla oli jonkinnäköinen ajatus siitä, miten koko paketti yhdessä
    toimii, mutta tässä vaiheessa kaikkien osien yhdessä toimiminen alkaa olla jo ymmärrettävää, ja siitä on saanut paljon selkeämmän kuvan</p>
    <h2>Quizit - Tietokannat</h2>
    <p>Quizeja varten tietokantoihin piti luoda neljä eri taulua; Quiz, question, userquiz ja wronganswers. Tämän lisäksi komponenttiin piti hakea tiedot 
      käyttäjästä, tämän tasosta, ja mahdollistaa tietokantojen muokkaamisen quizin oikeiden vastausten määrästä riippuen. Alla olevissa kuvissa on demonstroituna
       tietokannan luomista, ja tietojen hakemista tietokannasta backendin kautta.
    </p>
    <div>
      <pre class="language-sql box"><code>
CREATE TABLE Quiz (
  quiz INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
  title VARCHAR(30) NOT NULL,
  info VARCHAR(300) NOT NULL,
  reward INT NOT NULL,
  rewardxp INT NOT NULL
) ENGINE=INNODB;

CREATE TABLE Question (
  question_id INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
  question VARCHAR(200) NOT NULL,
  correct VARCHAR(30) NOT NULL,
  mediaurl VARCHAR(100),
  quiz INT NOT NULL,
  CONSTRAINT question_quiz_fk 
      FOREIGN KEY (quiz) REFERENCES Quiz(quiz)
          ON UPDATE RESTRICT
          ON DELETE CASCADE
) ENGINE=INNODB;
        </code> </pre>
        <pre class="language-javascript box1"><code>
// Metodi, joka hakee tietyn quizin kysymykset kannasta
getQuestions: (req, res) => {
    Question.findAll({
        where: {
            quiz: req.params.quiz
        }
    }).then((questions) => {
        res.json(questions);
    }).catch((err) => {
        console.log(err);
    });
},

// Metodi, joka hakee kysymystä vastaavat väärät vastaukset
getWrongAnswers: (req, res) => {
    WrongAnswers.findAll({
        where: {
            question_id: req.params.question
        }
    }).then((answers) => {
        res.json(answers);
    }).catch((err) => {
        console.log(err);
    });
},
        </code> </pre>
    </div>

<h2 id="qbend">Quizit - Backend</h2>
    <p>Backendin puolella piti tehdä mahdolliseksi quizien löytäminen frontendiin tietokannoista, sekä niiden muokkaaminen frontendin tapahtumien perusteella.
      Päätimme käyttää sequelizea tietokantojen käsittelyyn, ja tämä osoittautui mielestäni toimivaksi ratkaisuksi. Alla esimerkit Sequelizen mallista, ja metodista jolla
       lisätään käyttäjälle merkintä suoritetusta quizista.
    </p> 
<pre class="language-javascript box"><code>
const { Sequelize, DataTypes } = require('sequelize');
const sequelize = require('../dbconnection');

// Sequelize-malli quizeille
const Quiz = sequelize.define('Quiz', {
    quiz: {
        type: DataTypes.INTEGER,
        allowNull: false,
        primaryKey: true,
        autoIncrement: true
    },
    title: {
        type: DataTypes.STRING,
        allowNull: false
    },
    info: {
        type: DataTypes.STRING,
        allowNull: false
    },
    reward: {
        type: DataTypes.INTEGER,
        allowNull: false
    },
    rewardxp: {
        type: DataTypes.INTEGER,
        allowNull: false
    }
}, { 
    freezeTableName: true
});

module.exports = Quiz;
</code> </pre>

<pre class="language-javascript box1"><code>
updateQuizCompleted: (req, res) => {
  UserQuiz.increment('completed', {
      where: {
          userid: req.body.userid,
          quiz: req.body.quiz 
      }
  }).then(() => {
      res.json('Completed updated by +1');
  }).catch((err) => {
      console.log(err);
  });
},
</code> </pre>


<h2 class="fend">Quizit - Frontend</h2>
<p>Frontendiin käyttäjälle piti saada näkyviin quizin kysymys, vastausvaihtoehdot ja vastauksen tulos, ja päästää käyttäjä seuraavaan kysymykseen.
   Tämän lisäksi komponentin piti lisäillä backendiin käyttäjän progressio, ja näyttää se myös käyttäjälle tulosruudussa.
   Alla kuvissa näytettynä nextQuestion() - metodi, joka päästää käyttäjän seuraavaan kysymykseen, kunnes quiz on ohi, näyttää tulosruudun
   ja kirjaa tapahtumat tietokantaan. Toisessa kuvassa on quizien html-tiedostosta toiminnallinen pätkä.
</p>
<pre class="language-javascript box"><code>
nextQuestion(): void {
  this.questionCounter++;
  if (this.questionCounter >= this.questions.length) {
    this.results = true;
    this.updateTries();
    let currency = this.user.currency + this.quizdata.reward;
    this.userService.updateCurrency(this.user, currency).subscribe();
    this.updateUserExperience(this.user, this.quizExperienceReward);

    if (this.user.experience + this.quizExperienceReward >= 50) {
      this.levelup = true;
    }
    console.log(this.quizExperienceReward)    

    if(this.correctCounter === this.questions.length) {
      this.updateCompleted();
    }

    if (this.results) {
      document.getElementById("quiz").style.display = "none";

    }
    console.log(this.results);
  } else {
    this.getWrongAnswers();
    this.randomizeAnswers();
    this.buttoncolor = false;
    this.greenbuttoncolor = false;
    this.buttonsDisabled = false;
    this.randomizeButtons();
    console.log(this.correctCounter);
  }
  console.log(this.questionCounter);
}
  </code> </pre>

  <script type="text/plain" class="language-markup box9">
<div id="quiz">
  <mat-card id="questionCard">
  <h3>{{ questions[questionCounter]?.question }}</h3>
  </mat-card>

  <mat-card id="answersCard">
      <img src="{{questions[questionCounter]?.mediaurl}}" class="quizImg">
  <ul id="answers">
      <li><button class="answerbutton" mat-flat-button [disabled]="buttonsDisabled" (click)="correctAnswer()" [ngStyle]="{'background-color' : greenbuttoncolor ? 'green' : '#54156e'}">{{questions[questionCounter]?.correct}}</button></li>
      <li><button id=wronganswerbutton1 class="answerbutton" mat-flat-button [disabled]="buttonsDisabled" (click)="wrongAnswer(1)" [ngStyle]="{'background-color' : buttoncolor ? 'red' : '#54156e'}">{{wrongAnswers[randomWrongAnswers[0]]?.answer}}</button></li>
      <li><button id=wronganswerbutton2 class="answerbutton" mat-flat-button [disabled]="buttonsDisabled" (click)="wrongAnswer(2)" [ngStyle]="{'background-color' : buttoncolor ? 'red' : '#54156e'}">{{wrongAnswers[randomWrongAnswers[1]]?.answer}}</button></li>
      <li><button id=wronganswerbutton3 class="answerbutton" mat-flat-button [disabled]="buttonsDisabled" (click)="wrongAnswer(3)" [ngStyle]="{'background-color' : buttoncolor ? 'red' : '#54156e'}">{{wrongAnswers[randomWrongAnswers[2]]?.answer}}</button></li>
  </ul>
  </mat-card>
  <br>
</div>
    </script>


  <h1 class="reg">Rekisteröityminen</h1>
  <p> Tein paljon töitä myös rekisteröitymisen kanssa. Rekisteröityminen tapahtuu omassa komponentissaan, joka pyytää käyttäjältä tiedot,
     lähettää ne backendiin, hashaa salasanan, ja sen jälkeen kirjoittaa kaiken ylös tietokantaan turvallisesti. Vasemmalla alapuolella olevassa kuvassa 
     on createUser() - metodi, joka luo käyttäjän, ja lähettää tiedot backendiin, jos käyttäjä laittaa hyväksyttävät tiedot oikeassa muodossa.
     Virheen tapahtuessa käyttäjälle ilmoitetaan jos sähköposti on jo käytössä, tai sitten jo lomaketta täyttäessä, jos jokin kohta ei vastaa annettuja
      kriteerejä. Lopullisessa komponentissa myös lisätään käyttäjälle kirja ja kitara metodissa, mutta itse en sitä ollut tekemässä, joten pilkoin 
      sen pois koodista. Oikean puolen koodissa on kuva formin username- kohdasta, joka näyttää toimintalogiikkaa ilmoituksista käyttäjälle jo formia
       täyttäessä.
</p>

  </p>

  <pre class="language-typescript box"><code>
createUser(): void {
this.userService
  .createUser(this.email, this.username, this.password)
  .subscribe(
    data => {
      console.log(data);
      this.registrationSuccessful = true;

// Otetaan talteen tulevan käyttäjän userid
      const user = this.userid + 1;
      console.log(this.userid);
      
// luodaan useritem-tauluun tavaratietueet
      for (let i = 0; i < this.items.length; i++) {
        this.createUserItem(user,this.items[i].item);
        console.log(this.items[i].itemname);
      }
      
// Pienen viiveen jälkeen siirrytään login-ruutuun
      setTimeout(() => this.router.navigate(['/login']), 3000);

    }, (err) => {
      console.log(err);
      if(err.errors.email) {
        this.errorMessage = "Email address is already in use";
        this.error = true;
      }
    }
  );
}
    </code> </pre>
    <script type="text/plain" class="language-markup box9">
<mat-form-field appearance="outline">
  <mat-label for="username">Username</mat-label>

  <input matInput
    required minlength="3"
    maxlength="15" 
    ngModel name="username" 
    #username="ngModel" 
    (change)="setUsername(username)
    "id="username"
     type="text"
     class="form-control"
  >

</mat-form-field>

<div class="error-msg-container">
    <div class="alert alert-danger"*ngIf="username.touched && !username.valid">
        <p class="errorMsg"*ngIf="username.errors.required">Username is required</p>
        <p class="errorMsg"*ngIf="username.errors.minlength">Username must be at least 3 characters</p>
    </div>
</div>
    </script>
  </p>

  <div>
    <h2 class="nodemailer">Rekisteröityminen - Nodemailer</h2>
    <p>Rekisteröinnin yhteydessä halusimme lähettää käyttäjälle sähköpostin, joka kertoo käyttäjälle rekisteröitymisen onnistuneen.
      Todennäköisesti myös product labissa otamme käyttöön salasanan turvallisen palauttamisen nodemailerin avulla, mikäli projekti sinne viedään.
      Tällä aikataululla salasanan palautus ei ehtinyt projektiin mukaan, 
       sillä toiminnallisia ongelmia oli sen verran, että halusimme saada ne kuntoon ensiksi. Alla olevassa kuvassa on koodia backendista, jossa 
       rekisteröitymisen yhteydessä määritetään ja lähetetään käyttäjälle sähköpostia, luodaan käyttäjä, ja annetaan käyttäjälle aloitusarvot.
    </p>
    <pre class="language-typescript box8"><code>
createUser: (req, res) => {
  const hashedPassword = bcrypt.hashSync(req.body.password, 10);
  const emaili = req.body.email;
  const username1 = req.body.username;
  let transporter = nodemailer.createTransport({
      service: 'gmail',
      auth: {
          user: process.env.EMAIL,
          pass: process.env.PASSWORD
      }
  });

  let mailOptions = {
      from: 'acornporate@gmail.com',
      to: emaili,
      subject: 'Welcome to Acorn-Family!',
      text: 'You have succssessfully created an account! Your username is ' + username1 + ' Thanks. HAVE FUN. Don´t do drugs.'
  }

  transporter.sendMail(mailOptions, function(err, data) {
      if (err) {
          console.log('errori');
      } else {
          console.log('email sent')
      }
  });
  
  User.create({
      email: req.body.email,
      username: req.body.username,
      psw: hashedPassword,
      experience: 0,
      lvl: 1,
      currency: 0,
      streak: 0,
      quizcounter: 1,
      practisecounter: 1,
  })
      .then((user) => {
          res.json(user);
      })
      .catch((err) => {
          console.log(err);
          return res.status(500).send('Email is already in use');
      });
  };
      </code> </pre>
      
       
  </div>
  
  </div>
  <div>
    

  
  </div>
<footer><h2 class="nimi">Johannes Jokinen</h2></footer>
 <script src="fsa.js"></script>
 <script src="prism.js"></script>
</body>

</html>